footer {
	width: 100%;
	margin: 0;
	padding: 20px;
	box-sizing: border-box;
	background-color: #e7e7e7;
	/* box-shadow: #ffffff 0px 0px 20px 3px inset; */
	border-top: 1px #e7e7e7 solid;
	box-sizing: border-box;
	clear: both;
	overflow: auto;
}