footer {
	width: 100%;
	margin: 0;
	padding: 20px;
	box-sizing: border-box;
	background-color: #000cff;
	/* box-shadow: #ffffff 0px 0px 20px 3px inset; */
	border-top: 1px #000cff solid;
	box-sizing: border-box;
	clear: both;
	overflow: auto;
	color: white;
}

footer a {
	color: white;
}