header {
	width: 100%;
	margin: 0;
	padding: 20px;
	box-sizing: border-box;
	background-color: #000cff;
	/* box-shadow: #ffffff 0px 0px 20px 3px inset; */
	text-align: center;
	border-bottom: 1px #000cff solid;
	color: white;
}

header a {
	color: white;
}